<!DOCTYPE html>
<html>
<head>
  <title>OpenmicMain</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="page-wrap">
		<%= render 'layouts/header' %>
		<div class="container">
			<% flash.each do |message_type, message| %>
      	<div class="alert alert-<%= message_type %>"><%= message %></div>
			<% end %>
		</div>
		<%= yield %>
	</div>
	<%= render 'layouts/footer' %>
	<div class="container add-pad">
		<%= debug(params) if Rails.env.development? %>
	</div>
</body>
</html>
